body {
    background-image: url('zen-garden-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#css-zen-garden {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font: 120% 'arial';
    color: rgba(100, 60, 0, 0.807);
    width: 96%;
    height: 95%;
    align-content: center;
    border: rgb(255, 42, 0) 10px solid;
}


#zen-intro {
    display: flex;
    background-color: rgba(255, 238, 0, 0.716);
    border: blue 10px solid;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 99%;
}

#zen-explanation {
    display: flex;
    border: blue 2px solid;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    flex-basis: 25%;
    height: 15vw;
    flex-wrap: wrap;
}

#zen-participation {
    display: flex;
    border: green 2px solid;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    flex-basis: 25%;
    height: 15vw;
    flex-wrap: wrap;
}

#zen-intro > #zen-summary {
    display: flex;
    flex-direction: column;
}

.design-selection, .design-archives, .zen-resources {
    display: flex;
    border: blue 5px solid;
    flex-basis: 20%;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
}


#zen-intro {
    order: 1;
}

#zen-summary {
    order: 2;
}





.intro {
    margin: 2;
    padding: 5;
}

