body {
    display: grid;
    display: flex;
    line-height: 50px;
    padding: 20px;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 120% 'timesnewroman';
    font-size: 19px;
    color: rgba(100, 60, 0, 0.807);
    width: 95%;
    height: 95%;
    align-content: center;
    /* border: rgb(255, 42, 0) 10px solid; */
    background-color: white;
    background-image: url('zen-garden-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

div > p {
    font: 120% 'timesnewroman';
}

[id^="zen-"] {
    /* display: flex; */
}

header[role="banner"] {
    flex-basis: 10%;
    height: 240px;
    align-content: flex-start;
    border: rgb(0, 0, 0) 2px solid;
    background: rgba(255, 0, 0, 0.775);
}


#zen-intro {
    display: grid;
    grid-column-start: span 4;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    grid-column-start: span 4;
    display: flex;
    background-color: rgba(0, 171, 190, 0.563);
    align-self: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 99%;
}

[id$="-explanation"], [id*="-participation"] {
    width: 1000px;
    background: rgba(255, 0, 0 , 0.4);
}

#zen-explanation {
    display: flex;
    border: blue 2px solid;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}

#zen-participation {
    display: flex;
    border: green 2px solid;
    align-self: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
}

#zen-intro > #zen-summary {
    display: flex;
    flex-direction: column;
}
.design-selection, .design-archives, .zen-resources {
    display: flex;
    border: blue 5px solid;
    flex-basis: 20%;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
}

[id~="-benefits"], [id|="zen-require"] {
    display: flex;
    border: rgb(255, 0, 111) 5px solid;

}


#zen-intro {
    order: 1;
}

#zen-summary {
    order: 2;
}


.intro {
    margin: 2;
    padding: 5;
}

